/* CTA Button Block
--------------------------------------------- */

.block-cta-button {
    padding: 4em var(--wp--custom--layout--padding);
}

.cta-button__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 100%;
	position: relative;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    font-family: var(--wp--preset--font-family--dm-sans);
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 200px;
    text-align: center;
    background: transparent;
    border: 3px solid currentColor; // Border matches text color


    &:hover,
    &:focus {
        background: var(--wp--custom--color--foreground);
		color: var(--wp--custom--color--background)
    }
}

.cta-button__decoration {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    max-width: 250px;
	position: absolute;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    &--left {
        justify-content: flex-end;
		transform: rotate(-34deg) scaleX(-1);
		left: 0;
		bottom: -35px;
    }

    &--right {
        justify-content: flex-start;
		right: -35px;
    }

    // Hide decorative images on mobile
    @media (max-width: 767px) {
        display: none;
    }
}


// Editor styles
.editor-styles-wrapper .block-cta-button {
    .cta-button {
        pointer-events: none;
    }
}
