.membership-signup-block {
    margin: var(--wp--custom--layout--block-gap-large) 0;
	background:  var(--wp--preset--color--newsprint);
}

.membership-signup-title {
    margin-bottom: var(--wp--custom--layout--block-gap);
}

.membership-signup-form {
    margin-top: var(--wp--custom--layout--block-gap);
}

