@import "base";

.block-quote-featured-news {
    background: var(--wp--preset--color--jade);
    color: var(--wp--preset--color--white);
    padding: var(--wp--custom--layout--block-gap-large) var(--wp--custom--layout--padding);

    &__inner {
        max-width: var(--wp--custom--layout--wide);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--wp--custom--layout--block-gap-large);

        @include media(">=tablet") {
            display: grid;
            grid-template-columns: 60% 40%;
            gap: calc(var(--wp--custom--layout--block-gap) * 2);
        }
    }

    &--empty {
        padding: 60px 20px;
        text-align: center;
        background: var(--wp--preset--color--newsprint);
        color: var(--wp--preset--color--foreground);
        border: 2px dashed var(--wp--preset--color--foreground);
    }
}

// Quote Column (60%)
.quote-column {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__icon {
       width: 70px;
	   height: auto;
	   margin: 0 auto;
    }

    &__text {
        margin: 0;
		font-family: "DM Mono";
        font-size: var(--wp--preset--font-size--large);
        font-style: normal;
        color: var(--wp--preset--color--white);

        @include media(">=desktop") {
            font-family: "DM Mono";
			font-size: 38px;
			font-style: normal;
			font-weight: 400;
			line-height: 45px; /* 118.421% */
        }
    }

    &__attribution {
        font-size: 16.5px;
		font-style: normal;
		font-weight: 900;
		line-height: 22.5px; /* 136.364% */
		letter-spacing: 2.475px;
		text-transform: uppercase;
        color: var(--wp--preset--color--white);

        &:before {
            content: "— ";
        }
    }
}

// Featured Post Column (40%)
.featured-post-column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__date {
        font-family: "DM Mono";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px; /* 125% */
        color: var(--wp--preset--color--white);
    }

    &__author {
        font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
        color: var(--wp--preset--color--white);
    }

    &__title {
        margin: 0;
      	font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.36px;
		display: flex;
		align-items: center;
		justify-content: space-between;

        a {
            color: var(--wp--preset--color--white);
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: 8px;

        }

		img{
			margin-top: 5px;
		}
    }

    &__excerpt {
        font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 25px; /* 138.889% */
        color: var(--wp--preset--color--white);
    }

    &__taxonomy {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 8px;
    }

    .taxonomy-group {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .taxonomy-term {
       	border: 2px solid var(--wp--preset--color--white);
		border-radius: 999px;
		background: transparent;
		font-family: var(--wp--preset--font-family--dm-mono);
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.32px;
		text-transform: capitalize;
		text-decoration: none;
		padding: 10px 20px;
        color: var(--wp--preset--color--white);

        &:hover {
            background: var(--wp--preset--color--white);
            color: var(--wp--preset--color--jade);
        }
    }
}
