.membership-signup-block {
	padding: 3em 0;
	background: var(--wp--preset--color--newsprint);
}

.membership-signup-content{
	max-width: 765px;
	margin: 0 auto;
}

.membership-signup-title {
    margin-bottom: var(--wp--custom--layout--block-gap);
}

.membership-signup-form {
    margin-top: var(--wp--custom--layout--block-gap);
}
