/* Group Block Styles
--------------------------------------------- */

// Contained (centered, constrained)
.wp-block-group.is-style-contained {
	& > .wp-block-group__inner-container {
		width: calc(100% - 32px);
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;

		@include media(">=tablet") {
			width: clamp(700px, 85vw, 1132px);
		}
	}
}

// Contained Left (constrained, left-aligned)
.wp-block-group.is-style-contained-left {
	& > .wp-block-group__inner-container {
		width: calc(100% - 32px);
		max-width: 100%;
		margin-left: 0;
		margin-right: auto;

		@include media(">=tablet") {
			width: clamp(700px, 85vw, 1132px);
		}
	}
}

// Contained Right (constrained, right-aligned)
.wp-block-group.is-style-contained-right {
	& > .wp-block-group__inner-container {
		width: calc(100% - 32px);
		max-width: 100%;
		margin-left: auto;
		margin-right: 0;

		@include media(">=tablet") {
			width: clamp(700px, 85vw, 1132px);
		}
	}
}

// Half Width Left
.wp-block-group.is-style-half-left {
	& > .wp-block-group__inner-container {
		width: calc(100% - 32px);
		max-width: 100%;
		margin-left: 0;
		margin-right: auto;

		@include media(">=tablet") {
			width: clamp(350px, 42.5vw, 566px);
		}
	}
}

// Half Width Right
.wp-block-group.is-style-half-right {
	& > .wp-block-group__inner-container {
		width: calc(100% - 32px);
		max-width: 100%;
		margin-left: auto;
		margin-right: 0;

		@include media(">=tablet") {
			width: clamp(350px, 42.5vw, 566px);
		}
	}
}
